production:
  adapter: mysql
  database: database
  username: username
  password: password
  host: localhost
  pool: 500

development:
  adapter: mysql
  database: database
  username: username
  password: password
  host: localhost
  pool: 500

test: &TEST
  adapter: mysql
  database: database
  username: username
  password: password
  host: localhost
  pool: 500

cucumber:
  <<: *TEST
